<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='crop.css')}}">
    <title>Crop Prediction</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav>
        <ul>
          <a href="#"><li>Home</li></a>
          <a href="#"><li>About</li></a>
          <a href="#"><li>Services</li></a>
          <a href="#"><li>Products</li></a>
          <a href="#"><li>Blog</li></a>
          <a href="#"><li>Contact</li></a>
        </ul>
      <div class="handle">Menu</div>
    </nav>
    <script>
        $('.handle').on('click', function(){
          $('nav ul').toggleClass('showing');
        });
      </script>

<section id="home">
    <h1 class="h-primary">Welcome to Our <br> Crop Prediction <br> Website</h1>

</section>

{{ prediction }}
<form action="/rainfall" method="POST">
  <label for="rainfall_year">Year:</label>
  <input type="text" id="rainfall_year" name="rainfall_year"><br><br>
  <label for="month">Month:</label>
  <input type="text" id="month" name="month"><br><br>
  <input type="submit">
</form>
    {{ prediction }}
    <form action="/prediction" method="POST">
        <label for="state">State:</label>
        <input type="text" id="state" name="state"><br><br>
        <label for="district">District:</label>
        <input type="text" id="district" name="district"><br><br>
        <label for="year">Year:</label>
        <input type="text" id="year" name="year"><br><br>
        <label for="month">Month:</label>
        <input type="text" id="month" name="month"><br><br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price"><br><br>
        <label for="soil">Soil:</label>
        <input type="text" id="soil" name="soil"><br><br>
        <input type="submit">
      </form>

</body>
</html>